html, body 
{
  margin: 0;
  padding: 0;
  overflow-y: hidden;
　overflow-x: hidden;
  -webkit-user-select: none;
  overscroll-behavior: contain;
  -moz-user-select: none;   
  -ms-user-select: none;   
  user-select: none;
}
canvas 
{
  display: block;
}
